#projects {
    padding: 50px 0;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ------------------------------
   Responsive Styles
------------------------------ */
@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr; /* Una columna en móviles */
        gap: 30px;
    }
}

@media (max-width: 480px) {
    #projects {
        padding: 30px 0;
    }

    .projects-grid {
        gap: 20px;
    }
}